<div class="mark">
    <div class="headblock"><h1>{{filename}}</h1></div>
    <el-container>
      <!-- 深蓝色的标题区域 -->
      <el-header>
        <el-row>
          <el-button round>触发词</el-button>
          <el-button type="primary" id="get" @click="get" round>参与方</el-button>
          <el-button type="success" @click="time" round>时间</el-button>
          <el-button type="info" @click="save" round>保存</el-button>
        </el-row>
      </el-header>
  
      <el-container>
        <!-- 内容区 -->
        <el-aside width="200px">Aside</el-aside>
        <el-main>
          <div class="user_mark_place">
            <div v-html = 'filecontent' class="text_content" id="test" contenteditable="true" ></div>
            <div id="allfile" style="display:none"></div>
          </div>
        </el-main>
      </el-container>
    </el-container>
    </div>